*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: "Yatra One", system-ui;
    scroll-behavior: smooth;
}
header{
  display: flex;
  gap: 30px;
  justify-content:flex-end;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 4rem;
  & a{
    height: auto;
    padding: 8px 0;
    font-size: 1.2rem;
    width: 7rem;
    text-align: center;
    border-radius: 7px;
  }
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
        height: 100%;
        & p{
          font-size: 2rem;
          line-height: 2rem;
          border-radius: 7px;
          padding: 1rem;
          text-align: center;
        }
    }
    .gallary{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: 100%;
      overflow: hidden;
      .slider .slick-slide{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .slider img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
      }
    }  
}

.slider {
    width: 90%;
    height: 90%;
    margin: 30px auto;
  }
  .slider .slick-slide {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
  }
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .slick-prev, .slick-next {
    z-index: 1;
  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
  .slick-prev:before, .slick-next:before
  {
      color: #000;
  }
  /* Mobile Css */
  @media (max-width: 767px) {
    .slick-prev{
      left: -21px;
    } .slick-next {
      right: -21px;
    }
  }

  .description{
    display: grid;
    grid-template-columns: 40% 60%;
    gap:10px;
    width: 100%;
    height: 400px;
    animation: slide-In 1s;
    padding-top: 2rem;
    .info1{
      text-align: right;
      padding: 1rem;
      line-height: 2.5rem;
    }
    .info2{
      padding: 1rem;
      padding-right: 10rem;
      text-align: left;
      & p{
        line-height: 2rem;
      }
      & div{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        gap: 20px;
        & img{
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
      }
    }
  }

  @keyframes slide-In {
    from{transform: translateX(-20px);}
    to{transform: translateX(0px);}
  }
